.filler-container {
  .menu-comp {
    position: relative;
    button {
      padding: 0px 15px;
      box-sizing: content-box;
      &.selected {
        box-shadow: 0px 2px 20px -10px rgba(0, 0, 0, 0.75);
        border: 1px solid #a8026f;
      }
      img {
        padding-top: 5px;
      }
    }
    #menu-items {
      display: none;
      position: absolute;
      background: #fff;
      padding: 0px;
      list-style: none;
      box-shadow: 0px 2px 20px -10px rgba(0, 0, 0, 0.75);
      border-radius: 5px;
      width: 352%;
      flex-direction: row;
      flex-wrap: wrap;
      border: 1px solid #ccc;
      z-index: 10;

      li {
        width: 15%;
        padding: 15px;
        text-align: center;
        border: 1px solid transparent;

        &:hover {
          border: 1px solid #ccc;
        }
        img {
          height: 45px;
          cursor: pointer;
        }
      }
    }

    &.active {
      #menu-items {
        display: flex;
      }
    }
  }
}
