.utilities-comp {
  padding: 10px;
  margin-top: -50px;
  margin-left: 80px;
  input {
    transform: scale(2);
    padding: 10px;
  }
  button {
    margin-right: 10px;
  }
  label {
    font-weight: 600;
    font-size: 20px;
    margin-left: 10px;
    line-height: 20px;
  }
}
